# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  admin_name: Kemal Akkoyun
  admin_email: hede@hidir.com
  admin_password: hede
  email_provider_username: <%= ENV["GMAIL_USERNAME"] %>
  email_provider_password: <%= ENV["GMAIL_PASSWORD"] %>
  domain_name: example.com
  secret_key_base: 9eba060f8a39af9c6eaeb8ea69252f001bbbfca12bbf9a026c3b6a19827b9175b53b686f93ccb8e74005d18521425ffcf28a8be4cba121c01be1a6c9ca4eb061

test:
  domain_name: example.com 
  secret_key_base: 96ee88313f5bed7e4fe7a5207b194239192222321b9204b2955148fb37b42e1009ece5b10899dcc19e672ac9719901ee3ce347dcfcd356e951f5ac3e624a2cba

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  admin_name: <%= ENV["ADMIN_NAME"] %>
  admin_email: <%= ENV["ADMIN_EMAIL"] %>
  admin_password: <%= ENV["ADMIN_PASSWORD"] %>
  email_provider_username: <%= ENV["GMAIL_USERNAME"] %>
  email_provider_password: <%= ENV["GMAIL_PASSWORD"] %> 
  domain_name: <%= ENV["DOMAIN_NAME"] %>
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
